<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.org.upthink.mapper.UserMapper">

    <sql id="userDaoColumns">
        <!--a.id AS "id",
        a.create_by AS "createBy.id",
        a.create_date AS "createDate",
        a.update_by AS "updateBy.id",
        a.update_date AS "updateDate",
        a.remarks AS "remarks",
        a.del_flag AS "delFlag",-->
		a.HEAD_IMG AS "headImg",
		a.OPEN_ID AS "openId",
		a.NICK_NAME AS "nickName",
		a.USER_NAME AS "userName"
    </sql>

    <sql id="userJoins">
        <!--todo-->
    </sql>

    <select id="get" resultType="cn.org.upthink.entity.User">
        SELECT
        <include refid="userDaoColumns"/>
        FROM tb_user a
        WHERE a.id = #{id}
    </select>

    <select id="find" resultType="cn.org.upthink.entity.User">
        SELECT
        <include refid="userDaoColumns"/>
        FROM tb_user a
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
        </where>
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">
                ORDER BY ${page.orderBy}
            </when>
            <otherwise>
                ORDER BY a.update_date DESC
            </otherwise>
        </choose>
    </select>

    <select id="findList" resultType="cn.org.upthink.entity.User">
        SELECT
        <include refid="userDaoColumns"/>
        FROM tb_user a
        <where>
            a.del_flag = #{delFlag}
            <!--<if test="name != null and name != ''">
                AND a.name LIKE
                <if test="dbName == 'mysql'">CONCAT('%', #{name}, '%')</if>
            </if>-->
             <if test="headImg != null and headImg != ''">
                AND a.HEAD_IMG LIKE CONCAT('%', #{headImg}, '%')
             </if>
             <if test="openId != null and openId != ''">
                AND a.OPEN_ID LIKE CONCAT('%', #{openId}, '%')
             </if>
             <if test="nickName != null and nickName != ''">
                AND a.NICK_NAME LIKE CONCAT('%', #{nickName}, '%')
             </if>
             <if test="userName != null and userName != ''">
                AND a.USER_NAME LIKE CONCAT('%', #{userName}, '%')
             </if>
		${sqlMap.dsf}
        </where>
        ORDER BY a.update_date DESC
    </select>

    <insert id="insert">
        INSERT INTO tb_user(
			<!--id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,-->
			HEAD_IMG,
			OPEN_ID,
			NICK_NAME,
			USER_NAME
        ) VALUES (
			<!--#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},-->
		    #{headImg},
		    #{openId},
		    #{nickName},
		    #{userName}
        )
    </insert>

    <update id="update">
        UPDATE tb_user
        <trim prefix="SET" suffixOverrides=",">
		   <if test="headImg!=null">HEAD_IMG = #{headImg},</if>
		   <if test="openId!=null">OPEN_ID = #{openId},</if>
		   <if test="nickName!=null">NICK_NAME = #{nickName},</if>
		   <if test="userName!=null">USER_NAME = #{userName},</if>
		</trim>
        WHERE id = #{id}
    </update>

    <update id="delete">
        UPDATE tb_user SET del_flag = #{DEL_FLAG_DELETE} WHERE id = #{id}
    </update>

</mapper>