<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.org.upthink.mapper.WxActivityTimeMapper">

    <sql id="wxActivityTimeDaoColumns">
        <!--a.id AS "id",
        a.create_by AS "createBy.id",
        a.create_date AS "createDate",
        a.update_by AS "updateBy.id",
        a.update_date AS "updateDate",
        a.remarks AS "remarks",
        a.del_flag AS "delFlag",-->
		a.ACT_ID AS "actId",
		a.ACT_NAME AS "actName"
    </sql>

    <sql id="wxActivityTimeJoins">
        <!--todo-->
    </sql>

    <select id="get" resultType="cn.org.upthink.test.WxActivityTime">
        SELECT
        <include refid="wxActivityTimeDaoColumns"/>
        FROM tb_wxActivityTime a
        WHERE a.id = #{id}
    </select>

    <select id="find" resultType="cn.org.upthink.test.WxActivityTime">
        SELECT
        <include refid="wxActivityTimeDaoColumns"/>
        FROM tb_wxActivityTime a
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
        </where>
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">
                ORDER BY ${page.orderBy}
            </when>
            <otherwise>
                ORDER BY a.update_date DESC
            </otherwise>
        </choose>
    </select>

    <select id="findList" resultType="cn.org.upthink.test.WxActivityTime">
        SELECT
        <include refid="wxActivityTimeDaoColumns"/>
        FROM tb_wxActivityTime a
        <where>
            a.del_flag = #{delFlag}
            <!--<if test="name != null and name != ''">
                AND a.name LIKE
                <if test="dbName == 'mysql'">CONCAT('%', #{name}, '%')</if>
            </if>-->
		${sqlMap.dsf}
        </where>
        ORDER BY a.update_date DESC
    </select>

    <insert id="insert">
        INSERT INTO tb_wxActivityTime(
			<!--id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,-->
			ACT_ID,
			ACT_NAME
        ) VALUES (
			<!--#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},-->
		    #{actId},
		    #{actName}
        )
    </insert>

    <update id="update">
        UPDATE tb_wxActivityTime
        <trim prefix="SET" suffixOverrides=",">
		   <if test="actId!=null">ACT_ID = #{actId},</if>
		   <if test="actName!=null">ACT_NAME = #{actName},</if>
		</trim>
        WHERE id = #{id}
    </update>

    <update id="delete">
        UPDATE tb_wxActivityTime SET del_flag = #{DEL_FLAG_DELETE} WHERE id = #{id}
    </update>

</mapper>